*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(36, 28, 124);
    padding: 1rem;
    color: white;
    font-size: 1rem;
   
}

li{
    list-style: none;
    margin:auto 20px
}
.home{
    display: flex;
}
.coolgames{
    display: flex;
    margin-right: 3rem;

}
.cool,.games{
    font-size: 2rem;
    
}